@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
$main-font: 'Roboto', sans-serif;
$bg-color: #fff;
$font-color: #000;
$theme-bg-color: #f00;
$theme-border-color: #f11;
$box-shadow-color: #444;
$light-bg-color: #eff;
$lin-grad-start: rgba(255, 228, 225, 0.5);
$lin-grad-end: rgba(255, 228, 225, 0);